Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

added app runner service for mlflow
  infrastructure/app_runner/app_runner_iam_role.tf
  infrastructure/app_runner/variables.tf
  infrastructure/app_runner/wafer_app_runner.tf
Due: none

added mlflow app runner to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

update readme
  README.md
Due: none

minor fix in run_ansible.sh
  scripts/run_ansible.sh
Due: none

removed mlflow auth from dockerfile
  load_prod_model/Dockerfile
  model_training/Dockerfile
Due: Build and Push Load Production Model Service, Build and Push Model Training Service

formatted terraform files
  infrastructure/app_runner/variables.tf
  infrastructure/app_runner/wafer_app_runner.tf
  infrastructure/ec2_instances/wafer_ansible_instance/ansible.tf
Due: none

added mlflow ecr moduel to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

restructured eks cluster terraform files
  infrastructure/eks_cluster/eks_cluster.tf
  infrastructure/eks_cluster/eks_cluster_iam_role.tf
  infrastructure/eks_cluster/eks_cluster_sg.tf
  infrastructure/eks_cluster/eks_node_group.tf
  infrastructure/eks_cluster/eks_node_iam_role.tf
  infrastructure/eks_cluster/eks_route_table.tf
  infrastructure/eks_cluster/eks_vpc.tf
  infrastructure/eks_cluster/variables.tf
Due: none

added configuration files
  config/wafer-regex.txt
  config/wafer-schema_prediction.json
  config/wafer-schema_training.json
Due: none

minor format
  load_prod_model/utils/main_utils.py
Due: none

removed unwanted env variables from Dockerfile
  model_prediction/Dockerfile
Due: Build and Push Model Prediction Service

removed unwanted creds in model prediction service
  model_prediction/Dockerfile
Due: Build and Push Model Prediction Service

minor change
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

update requiremnents
  application/requirements.txt
Due: Build and Push Application Service

changed logger and exception in clustering service
  clustering/__init__.py
  clustering/clustering.py
  clustering/exception/__init__.py
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/logger.py
  clustering/utils/main_utils.py
  clustering/utils/read_params.py
Due: Build and Push Clustering Service

changed logger and exception
  data_transform_pred/__init__.py
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/exception/__init__.py
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/logger.py
  data_transform_pred/utils/main_utils.py
  data_transform_pred/utils/read_params.py
Due: Build and Push Data Transformation Prediction Service

changed logger and exception in data transform train service
  data_transform_train/__init__.py
  data_transform_train/data_transformation_train.py
  data_transform_train/exception/__init__.py
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/logger.py
  data_transform_train/utils/main_utils.py
  data_transform_train/utils/read_params.py
Due: Build and Push Data Transformation Train Service

minor change
  data_transform_train/__init__.py
Due: Build and Push Data Transformation Train Service

changed logger and exception in db operation pred service
  db_operation_pred/__init__.py
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/exception/__init__.py
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/logger.py
  db_operation_pred/utils/main_utils.py
  db_operation_pred/utils/read_params.py
Due: Build and Push Database Operation Prediction Service

restructured clustering service
  clustering/params.yaml
  clustering/run.py
  clustering/wafer_clustering/__init__.py
  clustering/wafer_clustering/components/__init__.py
  clustering/wafer_clustering/components/clustering.py
  clustering/wafer_clustering/components/s3_operations.py
  clustering/wafer_clustering/exception/__init__.py
  clustering/wafer_clustering/utils/__init__.py
  clustering/wafer_clustering/utils/main_utils.py
  clustering/wafer_clustering/utils/read_params.py
Due: Build and Push Clustering Service

restructured data transform pred service
  data_transform_pred/run.py
  data_transform_pred/wafer_data_transform_pred/__init__.py
  data_transform_pred/wafer_data_transform_pred/components/data_transformation_pred.py
  data_transform_pred/wafer_data_transform_pred/components/s3_operations.py
  data_transform_pred/wafer_data_transform_pred/exception/__init__.py
  data_transform_pred/wafer_data_transform_pred/utils/main_utils.py
  data_transform_pred/wafer_data_transform_pred/utils/read_params.py
  db_operation_pred/run.py
Due: Build and Push Data Transformation Prediction Service, Build and Push Database Operation Prediction Service

minor changes
  data_transform_pred/run.py
  data_transform_pred/wafer_data_transform_pred/components/data_transform_pred.py
  data_transform_pred/wafer_data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

restructured data transform train service
  data_transform_train/run.py
  data_transform_train/wafer_data_transform_train/__init__.py
  data_transform_train/wafer_data_transform_train/components/data_transformation_train.py
  data_transform_train/wafer_data_transform_train/components/s3_operations.py
  data_transform_train/wafer_data_transform_train/exception/__init__.py
  data_transform_train/wafer_data_transform_train/utils/main_utils.py
  data_transform_train/wafer_data_transform_train/utils/read_params.py
Due: Build and Push Data Transformation Train Service

made changes to data transform pred service
  data_transform_pred/run.py
  data_transform_pred/wafer_data_transform_pred/__init__.py
  data_transform_pred/wafer_data_transform_pred/components/data_transform_pred.py
  data_transform_pred/wafer_data_transform_pred/components/s3_operations.py
  data_transform_pred/wafer_data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

fixed imports
  clustering/wafer_clustering/components/__init__.py
  clustering/wafer_clustering/components/clustering.py
  clustering/wafer_clustering/utils/__init__.py
  clustering/wafer_clustering/utils/main_utils.py
Due: none

updated requirements
  clustering/requirements.txt
Due: Build and Push Clustering Service

updated requirements
  data_transform_pred/requirements.txt
Due: Build and Push Data Transformation Prediction Service

sorted imports
  data_transform_pred/run.py
Due: Build and Push Data Transformation Prediction Service

updated requirements
  data_transform_train/requirements.txt
Due: Build and Push Data Transformation Train Service

restructured db operation pred service
  db_operation_pred/__init__.py
  db_operation_pred/run.py
  db_operation_pred/wafer_db_operation_pred/components/data_type_valid_pred.py
  db_operation_pred/wafer_db_operation_pred/components/mongo_db_operations.py
  db_operation_pred/wafer_db_operation_pred/components/s3_operations.py
  db_operation_pred/wafer_db_operation_pred/exception/__init__.py
  db_operation_pred/wafer_db_operation_pred/utils/main_utils.py
  db_operation_pred/wafer_db_operation_pred/utils/read_params.py
Due: Build and Push Database Operation Prediction Service

to be fixed
  db_operation_train/data_type_valid_train.py
  db_operation_train/params.yaml
  db_operation_train/run.py
  db_operation_train/utils/logger.py
  db_operation_train/wafer_db_operation_train/__init__.py
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  db_operation_train/wafer_db_operation_train/components/mongo_db_operations.py
  db_operation_train/wafer_db_operation_train/components/s3_operations.py
  db_operation_train/wafer_db_operation_train/exception/__init__.py
  db_operation_train/wafer_db_operation_train/utils/main_utils.py
  db_operation_train/wafer_db_operation_train/utils/read_params.py
Due: Build and Push Database Operation Training Service

minor updates
  db_operation_train/requirements.txt
  db_operation_train/run.py
Due: Build and Push Database Operation Training Service

restructured load prod model service
  load_prod_model/run.py
  load_prod_model/utils/logger.py
  load_prod_model/wafer_load_prod_model/__init__.py
  load_prod_model/wafer_load_prod_model/components/mlflow_operations.py
  load_prod_model/wafer_load_prod_model/components/s3_operations.py
  load_prod_model/wafer_load_prod_model/exception/__init__.py
  load_prod_model/wafer_load_prod_model/utils/main_utils.py
  load_prod_model/wafer_load_prod_model/utils/read_params.py
Due: Build and Push Load Production Model Service

restructured model prediction service
  model_prediction/run.py
  model_prediction/utils/logger.py
  model_prediction/utils/main_utils.py
  model_prediction/utils/read_params.py
  model_prediction/wafer_model_prediction/__init__.py
  model_prediction/wafer_model_prediction/components/s3_operations.py
  model_prediction/wafer_model_prediction/exception/__init__.py
  model_prediction/wafer_model_prediction/utils/main_utils.py
  model_prediction/wafer_model_prediction/utils/read_params.py
Due: Build and Push Model Prediction Service

restructured model training service
  model_training/run.py
  model_training/tuner.py
  model_training/utils/logger.py
  model_training/utils/main_utils.py
  model_training/utils/read_params.py
  model_training/wafer_model_training/__init__.py
  model_training/wafer_model_training/components/mlflow_operations.py
  model_training/wafer_model_training/components/s3_operations.py
  model_training/wafer_model_training/components/tuner.py
  model_training/wafer_model_training/exception/__init__.py
  model_training/wafer_model_training/utils/main_utils.py
  model_training/wafer_model_training/utils/read_params.py
Due: Build and Push Model Training Service

restructured preprocessing pred service
  preprocessing_pred/__init__.py
  preprocessing_pred/data_loader_pred.py
  preprocessing_pred/run.py
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/logger.py
  preprocessing_pred/utils/main_utils.py
  preprocessing_pred/utils/read_params.py
  preprocessing_pred/wafer_preprocess_pred/components/data_loader_pred.py
  preprocessing_pred/wafer_preprocess_pred/components/preprocessing.py
  preprocessing_pred/wafer_preprocess_pred/components/s3_operations.py
  preprocessing_pred/wafer_preprocess_pred/exception/__init__.py
  preprocessing_pred/wafer_preprocess_pred/utils/main_utils.py
  preprocessing_pred/wafer_preprocess_pred/utils/read_params.py
Due: Build and Push Preprocessing Prediction Service

restructured preprocessing train service
  preprocessing_train/data_loader_train.py
  preprocessing_train/run.py
  preprocessing_train/utils/logger.py
  preprocessing_train/utils/main_utils.py
  preprocessing_train/utils/read_params.py
  preprocessing_train/wafer_preprocess_train/__init__.py
  preprocessing_train/wafer_preprocess_train/components/data_loader_train.py
  preprocessing_train/wafer_preprocess_train/components/preprocessing.py
  preprocessing_train/wafer_preprocess_train/components/s3_operations.py
  preprocessing_train/wafer_preprocess_train/exception/__init__.py
  preprocessing_train/wafer_preprocess_train/utils/main_utils.py
  preprocessing_train/wafer_preprocess_train/utils/read_params.py
Due: Build and Push Preprocessing Train Service

restructured raw pred data validation service
  raw_pred_data_validation/run.py
  raw_pred_data_validation/s3_operations.py
  raw_pred_data_validation/utils/logger.py
  raw_pred_data_validation/utils/main_utils.py
  raw_pred_data_validation/utils/read_params.py
  raw_pred_data_validation/wafer_pred_val/__init__.py
  raw_pred_data_validation/wafer_pred_val/components/pred_data_validation.py
  raw_pred_data_validation/wafer_pred_val/components/s3_operations.py
  raw_pred_data_validation/wafer_pred_val/exception/__init__.py
  raw_pred_data_validation/wafer_pred_val/utils/main_utils.py
  raw_pred_data_validation/wafer_pred_val/utils/read_params.py
Due: Build and Push Raw Prediction Data Validation Service

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
