Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          KFP_HOST = credentials('KFP_HOST')
          AWS_DEFAULT_REGION = "us-east-1"
        }
  ...

Build and Push Clustering Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
          script {
  ...

Build and Push Data Transformation Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
          script {
  ...

Build and Push Data Transformation Train Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
  ...

Build and Push Database Operation Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MONGODB_URL = credentials('MONGODB_URL')
        }
        steps {
  ...

Build and Push Database Operation Training Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MONGODB_URL = credentials('MONGODB_URL')
        }
        steps {
  ...

Build and Push Load Production Model Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MLFLOW_TRACKING_URI = credentials('MLFLOW_TRACKING_URI')
        }
        steps {
  ...

Build and Push Model Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MLFLOW_TRACKING_URI = credentials('MLFLOW_TRACKING_URI')
  ...

Build and Push Model Training Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
  ...

updated dockerfile for load prod model
  load_prod_model/Dockerfile
Due: Build and Push Load Production Model Service

updated Dockerfiles for rest of the services
  model_prediction/Dockerfile
  model_training/Dockerfile
  preprocessing_pred/Dockerfile
  preprocessing_train/Dockerfile
  raw_pred_data_validation/Dockerfile
  raw_train_data_validation/Dockerfile
Due: Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service

updated Jenkinsfile
  Jenkinsfile
Due: none

updated pred_components in params.yaml
  application/params.yaml
Due: Build and Push Application Service

minor fixes in application service
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/utils/component_utils.py
  application/utils/pipeline_utils.py
Due: none

added docs for code
  application/params.yaml
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/s3_operations.py
  application/utils/component_utils.py
  application/utils/logger.py
  application/utils/main_utils.py
  application/utils/pipeline_utils.py
  clustering/clustering.py
  clustering/params.yaml
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/logger.py
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/params.yaml
  data_transform_pred/run.py
  data_transform_pred/utils/logger.py
  data_transform_pred/utils/main_utils.py
  data_transform_train/data_transformation_train.py
  data_transform_train/params.yaml
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/logger.py
  data_transform_train/utils/main_utils.py
  db_operation_pred/params.yaml
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/logger.py
  db_operation_pred/utils/main_utils.py
  db_operation_train/params.yaml
  db_operation_train/run.py
  db_operation_train/s3_operations.py
  db_operation_train/utils/logger.py
  db_operation_train/utils/main_utils.py
  infrastructure/module.tf
  infrastructure/wafer_eks_cluster/variables.tf
Due: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Plan and Apply new infrastructure

updated code docs for load prod model
  infrastructure/wafer_eks_cluster/variables.tf
  load_prod_model/mlflow_operations.py
  load_prod_model/params.yaml
  load_prod_model/s3_operations.py
  load_prod_model/utils/logger.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

updated code docs in model prediction
  model_prediction/params.yaml
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/logger.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

updated code docs in application
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/s3_operations.py
  application/utils/component_utils.py
  application/utils/logger.py
  application/utils/main_utils.py
  application/utils/pipeline_utils.py
Due: Build and Push Application Service

updated code docs
  clustering/clustering.py
  clustering/utils/logger.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

updated code docs for clustering
  clustering/clustering.py
  clustering/params.yaml
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

added mongodb database to infrastructure code
  infrastructure/module.tf
  infrastructure/wafer_database/database.tf
  infrastructure/wafer_database/variables.tf
Due: Plan and Apply new infrastructure

updated infrastructure
  Jenkinsfile
  infrastructure/module.tf
  infrastructure/wafer_app_ecr/app_registry.tf
  infrastructure/wafer_app_ecr/variables.tf
  infrastructure/wafer_eks_cluster/variables.tf
Due: Plan and Apply new infrastructure

updated infrastructure
  infrastructure/module.tf
  infrastructure/wafer_tekton_components_bucket/tekton_components.tf
  infrastructure/wafer_tekton_components_bucket/variables.tf
Due: Plan and Apply new infrastructure

updated Dockerfile of application
  application/Dockerfile
Due: Build and Push Application Service

added application ecr repo to infrastructure
  infrastructure/module.tf
  infrastructure/wafer_app_ecr/app_ecr.tf
  infrastructure/wafer_app_ecr/variables.tf
Due: Plan and Apply new infrastructure

test commit to Jenkins
  Jenkinsfile
Due: none

minor fix in Jenkinsfile
  Jenkinsfile
Due: none

second minor fix
  Jenkinsfile
  infrastructure/module.tf
  infrastructure/wafer_application_instance/application.tf
  infrastructure/wafer_application_instance/variables.tf
  infrastructure/wafer_kube_master/eks_master.tf
Due: Plan and Apply new infrastructure

minor fix
  Jenkinsfile
Due: none

added updatemanifest job for application stage
  Jenkinsfile
Due: none

updated Dockerfiles
  application/Dockerfile
  data_transform_pred/Dockerfile
  data_transform_train/Dockerfile
  db_operation_pred/Dockerfile
  db_operation_train/Dockerfile
  load_prod_model/Dockerfile
  raw_pred_data_validation/Dockerfile
  raw_train_data_validation/Dockerfile
Due: Build and Push Application Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service

updated infrastructure
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

updated application instance type
  infrastructure/wafer_application_instance/variables.tf
Due: none

made changes based on tekton pipelines
  application/Dockerfile
  application/main.py
  application/params.yaml
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/requirements.txt
  application/s3_operations.py
  application/utils/component_utils.py
  application/utils/logger.py
  application/utils/main_utils.py
  application/utils/pipeline_utils.py
Due: Build and Push Application Service

testing
  Jenkinsfile
Due: none

updated node size in eks cluster
  Jenkinsfile
  infrastructure/wafer_eks_cluster/variables.tf
Due: none

updated readme
  README.md
Due: none

Updated readme
  README.md
Due: none

minor fix in readme
  README.md
Due: none

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
