Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

added application service file
  others/app.service
Due: none

added flaskapp nginx configuration file
  others/flaskapp
Due: none

added mlflow nginx configuration file
  others/mlflow
Due: none

added mlflow tracking service file
  others/mlflow-tracking.service
Due: none

removed unwanted imports
  clustering/s3_operations.py
Due: Build and Push Clustering Service

improvised clustering dockerfile
  clustering/Dockerfile
Due: Build and Push Clustering Service

improvised data transform pred dockerfile
  data_transform_pred/Dockerfile
Due: Build and Push Data Transformation Prediction Service

improvised data transform train dockerfile
  data_transform_train/Dockerfile
Due: Build and Push Data Transformation Train Service

improvised db operation pred dockerfile
  db_operation_pred/Dockerfile
Due: Build and Push Database Operation Prediction Service

improvised load prod model dockerfile
  load_prod_model/Dockerfile
Due: Build and Push Load Production Model Service

improvised db operation train dockerfile
  db_operation_train/Dockerfile
Due: Build and Push Database Operation Training Service

improvised model prediction dockerfile
  model_prediction/Dockerfile
Due: Build and Push Model Prediction Service

improvised model training dockerfile
  model_training/Dockerfile
Due: Build and Push Model Training Service

improvised preprocessing pred dockerfile
  preprocessing_pred/Dockerfile
Due: Build and Push Preprocessing Prediction Service

improvised raw pred data validation dockerfile
  raw_pred_data_validation/Dockerfile
Due: Build and Push Raw Prediction Data Validation Service

improvised preprocessing train dockerfile
  preprocessing_train/Dockerfile
Due: Build and Push Preprocessing Train Service

improvised raw train data validation dockerfile
  raw_train_data_validation/Dockerfile
Due: Build and Push Raw Training Data Validation Service

renamed folder from wafer eks cluste to eks cluster
  infrastructure/eks_cluster/eks_cluster.tf
  infrastructure/eks_cluster/providers.tf
  infrastructure/eks_cluster/variables.tf
Due: none

renamed folder from wafer database to database
  infrastructure/database/database.tf
  infrastructure/database/variables.tf
Due: none

minor changes
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

renamed database.tf to mongodb.tf
  infrastructure/database/mongodb.tf
Due: none

minor fix
  data_transform_pred/utils/main_utils.py
Due: none

removed run_once=true in jenkins.yml
  ansible_playbooks/playbooks/jenkins.yml
Due: none

added namespaces manifest files
  manifests/argocd-namespace.yaml
  manifests/monitor-namespace.yaml
Due: none

formatted playbooks
  ansible_playbooks/playbooks/application.yml
  ansible_playbooks/playbooks/argocd.yml
  ansible_playbooks/playbooks/docker.yml
  ansible_playbooks/playbooks/main.yml
  ansible_playbooks/playbooks/mlflow.yml
  ansible_playbooks/playbooks/monitoring.yml
  ansible_playbooks/playbooks/prometheus_ec2.yml
  ansible_playbooks/playbooks/tekton.yml
  ansible_playbooks/playbooks/tektoncli.yml
  ansible_playbooks/playbooks/terraform.yml
Due: none

formatted variables.yml
  ansible_playbooks/vars/variables.yml
Due: none

improvised argocd playbook
  ansible_playbooks/playbooks/argocd.yml
Due: none

improvised monitoring playbook
  ansible_playbooks/playbooks/monitoring.yml
Due: none

restructured databases folder
  infrastructure/databases/mongodb/mongodb.tf
  infrastructure/databases/mongodb/variables.tf
Due: none

added postgresql database for mlflow
  infrastructure/databases/postgresql/db_parameter_group.tf
  infrastructure/databases/postgresql/main.tf
  infrastructure/databases/postgresql/outputs.tf
  infrastructure/databases/postgresql/providers.tf
  infrastructure/databases/postgresql/sg.tf
  infrastructure/databases/postgresql/variables.tf
  infrastructure/databases/postgresql/vpc.tf
Due: none

restructured mongodb database module
  infrastructure/databases/mongodb/mongodb.tf
  infrastructure/databases/mongodb/outputs.tf
  infrastructure/databases/mongodb/providers.tf
  infrastructure/databases/mongodb/sg.tf
  infrastructure/databases/mongodb/subnets.tf
  infrastructure/databases/mongodb/vpc.tf
Due: none

added rds instance to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

added postgresql backend for mlflow service
  others/mlflow-tracking.service
Due: none

added force destroy option to s3 bucket
  infrastructure/s3_buckets/wafer_feature_store_bucket/feature_store.tf
  infrastructure/s3_buckets/wafer_feature_store_bucket/variables.tf
  infrastructure/s3_buckets/wafer_io_files_bucket/io_files_bucket.tf
  infrastructure/s3_buckets/wafer_io_files_bucket/variables.tf
  infrastructure/s3_buckets/wafer_logs_bucket/logs.tf
  infrastructure/s3_buckets/wafer_logs_bucket/variables.tf
  infrastructure/s3_buckets/wafer_mlflow_bucket/mlflow.tf
  infrastructure/s3_buckets/wafer_mlflow_bucket/variables.tf
  infrastructure/s3_buckets/wafer_model_bucket/model.tf
  infrastructure/s3_buckets/wafer_model_bucket/variables.tf
  infrastructure/s3_buckets/wafer_pred_data_bucket/pred_data.tf
  infrastructure/s3_buckets/wafer_pred_data_bucket/variables.tf
  infrastructure/s3_buckets/wafer_raw_data_bucket/raw_data.tf
  infrastructure/s3_buckets/wafer_raw_data_bucket/variables.tf
  infrastructure/s3_buckets/wafer_train_data_bucket/train_data.tf
  infrastructure/s3_buckets/wafer_train_data_bucket/variables.tf
Due: none

added force_delete arg to ecr repos
  infrastructure/ecr_repos/wafer_clustering_ecr/clustering_ecr.tf
  infrastructure/ecr_repos/wafer_clustering_ecr/variables.tf
  infrastructure/ecr_repos/wafer_data_transform_pred_ecr/data_transform_pred_ecr.tf
  infrastructure/ecr_repos/wafer_data_transform_pred_ecr/variables.tf
  infrastructure/ecr_repos/wafer_data_transform_train_ecr/data_transform_train.tf
  infrastructure/ecr_repos/wafer_data_transform_train_ecr/variables.tf
  infrastructure/ecr_repos/wafer_db_operation_pred_ecr/db_operation_pred.tf
  infrastructure/ecr_repos/wafer_db_operation_pred_ecr/variables.tf
  infrastructure/ecr_repos/wafer_db_operation_train_ecr/db_operation_train.tf
  infrastructure/ecr_repos/wafer_db_operation_train_ecr/variables.tf
  infrastructure/ecr_repos/wafer_load_prod_model_ecr/load_prod_model.tf
  infrastructure/ecr_repos/wafer_load_prod_model_ecr/variables.tf
  infrastructure/ecr_repos/wafer_model_prediction_ecr/model_prediction.tf
  infrastructure/ecr_repos/wafer_model_prediction_ecr/variables.tf
  infrastructure/ecr_repos/wafer_model_training_ecr/model_training.tf
  infrastructure/ecr_repos/wafer_model_training_ecr/variables.tf
  infrastructure/ecr_repos/wafer_preprocessing_pred_ecr/preprocessing_pred.tf
  infrastructure/ecr_repos/wafer_preprocessing_pred_ecr/variables.tf
  infrastructure/ecr_repos/wafer_preprocessing_train_ecr/preprocessing_train.tf
  infrastructure/ecr_repos/wafer_preprocessing_train_ecr/variables.tf
  infrastructure/ecr_repos/wafer_raw_pred_data_validation_ecr/raw_pred_data_validation.tf
  infrastructure/ecr_repos/wafer_raw_pred_data_validation_ecr/variables.tf
  infrastructure/ecr_repos/wafer_raw_train_data_validation_ecr/raw_train_data_validation.tf
  infrastructure/ecr_repos/wafer_raw_train_data_validation_ecr/variables.tf
Due: none

added tekton_config.yaml
  manifests/tekton_config.yaml
Due: none

made changes to tekton.yml based on tekton operator
  ansible_playbooks/playbooks/tekton.yml
Due: none

improvised kubectl delete cron job
  scripts/kubectl_delete_cron_job.sh
Due: none

restructured ansible playbooks dir
  playbooks/application.yml
  playbooks/argocd.yml
  playbooks/docker.yml
  playbooks/jenkins.yml
  playbooks/main.yml
  playbooks/mlflow.yml
  playbooks/monitoring.yml
  playbooks/prometheus_ec2.yml
  playbooks/tekton.yml
  playbooks/tektoncli.yml
  playbooks/terraform.yml
  vars/variables.yml
Due: none

Update setup_ansible.sh
  scripts/setup_ansible.sh
Due: none

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
