Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*

updated logger and requirements.txt
  raw_pred_data_validation/requirements.txt
  raw_pred_data_validation/wafer_pred_val/__init__.py
Due: Build and Push Raw Prediction Data Validation Service

restructured raw train data validation service
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/utils/logger.py
  raw_train_data_validation/utils/main_utils.py
  raw_train_data_validation/utils/read_params.py
  raw_train_data_validation/wafer_raw_val/__init__.py
  raw_train_data_validation/wafer_raw_val/components/s3_operations.py
  raw_train_data_validation/wafer_raw_val/components/train_data_validation.py
  raw_train_data_validation/wafer_raw_val/exception/__init__.py
  raw_train_data_validation/wafer_raw_val/utils/main_utils.py
  raw_train_data_validation/wafer_raw_val/utils/read_params.py
Due: Build and Push Raw Training Data Validation Service

formatted code
  raw_train_data_validation/run.py
Due: Build and Push Raw Training Data Validation Service

changed log dir
  raw_train_data_validation/params.yaml
Due: Build and Push Raw Training Data Validation Service

changed log dir in logger
  raw_train_data_validation/wafer_raw_val/__init__.py
Due: none

removed stop log
  raw_train_data_validation/wafer_raw_val/utils/main_utils.py
Due: none

minor fix
  raw_train_data_validation/run.py
Due: Build and Push Raw Training Data Validation Service

removed upload_logs method
  raw_train_data_validation/run.py
  raw_train_data_validation/wafer_raw_val/components/s3_operations.py
  raw_train_data_validation/wafer_raw_val/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

reformatted data transform train service
  data_transform_train/params.yaml
  data_transform_train/run.py
  data_transform_train/wafer_data_transform_train/__init__.py
  data_transform_train/wafer_data_transform_train/components/data_transformation_train.py
  data_transform_train/wafer_data_transform_train/components/s3_operations.py
  data_transform_train/wafer_data_transform_train/exception/__init__.py
  data_transform_train/wafer_data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

restructured db operation train service
  db_operation_train/params.yaml
  db_operation_train/run.py
  db_operation_train/wafer_db_operation_train/__init__.py
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  db_operation_train/wafer_db_operation_train/components/mongo_db_operations.py
  db_operation_train/wafer_db_operation_train/components/s3_operations.py
  db_operation_train/wafer_db_operation_train/utils/main_utils.py
  db_operation_train/wafer_db_operation_train/utils/read_params.py
Due: Build and Push Database Operation Training Service

formatted code
  db_operation_train/run.py
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  db_operation_train/wafer_db_operation_train/components/s3_operations.py
Due: Build and Push Database Operation Training Service

removed extra params
  preprocessing_train/params.yaml
Due: Build and Push Preprocessing Train Service

removed upload logs method
  preprocessing_train/run.py
  preprocessing_train/wafer_preprocess_train/components/s3_operations.py
  preprocessing_train/wafer_preprocess_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

restrucutured clustering service
  clustering/run.py
  clustering/wafer_clustering/__init__.py
  clustering/wafer_clustering/components/s3_operations.py
  clustering/wafer_clustering/utils/main_utils.py
Due: Build and Push Clustering Service

minor fix
  clustering/run.py
Due: Build and Push Clustering Service

restructured model training and load prod model service
  infrastructure/module.tf
  load_prod_model/run.py
  load_prod_model/wafer_load_prod_model/components/s3_operations.py
  load_prod_model/wafer_load_prod_model/utils/main_utils.py
  model_training/Dockerfile
  model_training/params.yaml
  model_training/requirements.txt
  model_training/run.py
  model_training/wafer_model_training/components/s3_operations.py
Due: Build and Push Load Production Model Service, Build and Push Model Training Service, Plan and Apply new infrastructure

minor fixes
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  db_operation_train/wafer_db_operation_train/components/mongo_db_operations.py
  db_operation_train/wafer_db_operation_train/components/s3_operations.py
  db_operation_train/wafer_db_operation_train/utils/main_utils.py
  db_operation_train/wafer_db_operation_train/utils/read_params.py
Due: none

minor fix
  db_operation_train/wafer_db_operation_train/components/s3_operations.py
  db_operation_train/wafer_db_operation_train/utils/main_utils.py
Due: none

made new changes
  model_prediction/requirements.txt
  model_prediction/wafer_model_prediction/__init__.py
  raw_pred_data_validation/params.yaml
  raw_pred_data_validation/run.py
  raw_pred_data_validation/wafer_pred_val/__init__.py
  raw_pred_data_validation/wafer_pred_val/components/s3_operations.py
  raw_pred_data_validation/wafer_pred_val/utils/main_utils.py
Due: Build and Push Model Prediction Service, Build and Push Raw Prediction Data Validation Service

sorted imports
  raw_pred_data_validation/run.py
Due: Build and Push Raw Prediction Data Validation Service

restructured data transform pred service
  data_transform_pred/params.yaml
  data_transform_pred/run.py
  data_transform_pred/wafer_data_transform_pred/__init__.py
  data_transform_pred/wafer_data_transform_pred/components/s3_operations.py
  data_transform_pred/wafer_data_transform_pred/exception/__init__.py
  data_transform_pred/wafer_data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

removed upload_logs method
  db_operation_pred/__init__.py
  db_operation_pred/run.py
  db_operation_pred/wafer_db_operation_pred/components/s3_operations.py
  db_operation_pred/wafer_db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

restructured preprocessing pred service
  preprocessing_pred/params.yaml
  preprocessing_pred/run.py
  preprocessing_pred/wafer_preprocess_pred/__init__.py
  preprocessing_pred/wafer_preprocess_pred/components/preprocessing.py
  preprocessing_pred/wafer_preprocess_pred/components/s3_operations.py
  preprocessing_pred/wafer_preprocess_pred/exception/__init__.py
  preprocessing_pred/wafer_preprocess_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

formatted code
  preprocessing_pred/run.py
  preprocessing_pred/wafer_preprocess_pred/__init__.py
Due: Build and Push Preprocessing Prediction Service

updated requirements
  preprocessing_pred/requirements.txt
Due: Build and Push Preprocessing Prediction Service

restructured model prediction
  model_prediction/params.yaml
  model_prediction/requirements.txt
  model_prediction/run.py
  model_prediction/wafer_model_prediction/components/s3_operations.py
  model_prediction/wafer_model_prediction/exception/__init__.py
  model_prediction/wafer_model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

minor changes
  db_operation_pred/wafer_db_operation_pred/__init__.py
  infrastructure/module.tf
  infrastructure/s3_buckets/wafer_logs_bucket/logs.tf
  infrastructure/s3_buckets/wafer_logs_bucket/logs_policy.tf
  infrastructure/s3_buckets/wafer_logs_bucket/variables.tf
  load_prod_model/wafer_load_prod_model/__init__.py
Due: Plan and Apply new infrastructure

restored module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

removed upload logs method
  clustering/run.py
  clustering/wafer_clustering/__init__.py
  clustering/wafer_clustering/components/s3_operations.py
  clustering/wafer_clustering/utils/main_utils.py
Due: Build and Push Clustering Service

restructured data transform pred service
  data_transform_pred/run.py
  data_transform_pred/wafer_data_transform_pred/__init__.py
  data_transform_pred/wafer_data_transform_pred/components/data_transform_pred.py
  data_transform_pred/wafer_data_transform_pred/components/s3_operations.py
  data_transform_pred/wafer_data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

minor fix
  data_transform_pred/run.py
  data_transform_pred/wafer_data_transform_pred/components/data_transform_pred.py
Due: Build and Push Data Transformation Prediction Service

restructure data transform train service
  data_transform_train/params.yaml
  data_transform_train/run.py
  data_transform_train/wafer_data_transform_train/__init__.py
  data_transform_train/wafer_data_transform_train/components/data_transformation_train.py
  data_transform_train/wafer_data_transform_train/components/s3_operations.py
  data_transform_train/wafer_data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

restructured db operation pred
  db_operation_pred/run.py
  db_operation_pred/wafer_db_operation_pred/components/data_type_valid_pred.py
  db_operation_pred/wafer_db_operation_pred/components/mongo_db_operations.py
  db_operation_pred/wafer_db_operation_pred/components/s3_operations.py
  db_operation_pred/wafer_db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

restructured db operation train service
  db_operation_train/run.py
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  db_operation_train/wafer_db_operation_train/components/s3_operations.py
  db_operation_train/wafer_db_operation_train/utils/main_utils.py
  db_operation_train/wafer_db_operation_train/utils/read_params.py
Due: Build and Push Database Operation Training Service

restructure load prod model service
  load_prod_model/params.yaml
  load_prod_model/requirements.txt
  load_prod_model/run.py
  load_prod_model/wafer_load_prod_model/components/mlflow_operations.py
  load_prod_model/wafer_load_prod_model/components/s3_operations.py
  load_prod_model/wafer_load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

restructured model prediction service
  model_prediction/run.py
  model_prediction/wafer_model_prediction/__init__.py
  model_prediction/wafer_model_prediction/components/s3_operations.py
  model_prediction/wafer_model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

restructured model training service
  model_training/run.py
  model_training/wafer_model_training/components/mlflow_operations.py
  model_training/wafer_model_training/components/s3_operations.py
  model_training/wafer_model_training/components/tuner.py
  model_training/wafer_model_training/utils/main_utils.py
Due: Build and Push Model Training Service

restrucutured preprocessing pred service
  preprocessing_pred/run.py
  preprocessing_pred/wafer_preprocess_pred/components/data_loader_pred.py
  preprocessing_pred/wafer_preprocess_pred/components/preprocessing.py
  preprocessing_pred/wafer_preprocess_pred/components/s3_operations.py
  preprocessing_pred/wafer_preprocess_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service
