Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Component, Build and Push Clustering Component, Build and Push Data Transform Pred Component, Build and Push Data Transform Train Component, Build and Push DB Operation Pred Component, Build and Push DB Operation Train Component, Build and Push Load Prod Model Component, Build and Push Model Prediction Component, Build and Push Model Training Component, Build and Push Preprocessing Pred Component, Build and Push Preprocessing Train Component, Build and Push Raw Pred Data Validation Component, Build and Push Raw Train Data Validation Component, Update Infrastructure Component

Path conditions:
  Build and Push Application Component: any of: application/*
  Build and Push Clustering Component: any of: clustering/*
  Build and Push Data Transform Pred Component: any of: data_transform_pred/*
  Build and Push Data Transform Train Component: any of: data_transform_train/*
  Build and Push DB Operation Pred Component: any of: db_operation_pred/*
  Build and Push DB Operation Train Component: any of: db_operation_train/*
  Build and Push Load Prod Model Component: any of: load_prod_model/*
  Build and Push Model Prediction Component: any of: model_prediction/*
  Build and Push Model Training Component: any of: model_training/*
  Build and Push Preprocessing Pred Component: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Component: any of: preprocessing_train/*
  Build and Push Raw Pred Data Validation Component: any of: raw_pred_dat_validation/*
  Build and Push Raw Train Data Validation Component: any of: raw_train_data_validation/*
  Update Infrastructure Component: any of: infrastructure/*

added prediction components
  application/components/pred_components.py
  application/params.yaml
Due: Build and Push Application Component

added prediction pipeline
  application/components/pred_components.py
  application/main.py
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/utils/main_utils.py
Due: Build and Push Application Component

made changes to pred_components.py
  application/components/pred_components.py
Due: none

update logger.py
  application/utils/logger.py
Due: none

made code update application component
  application/main.py
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/s3_operations.py
  application/utils/component_utils.py
  application/utils/pipeline_utils.py
  application/utils/read_params.py
Due: Build and Push Application Component

code fix
  application/utils/component_utils.py
Due: none

code fix in Jenkinsfile
  Jenkinsfile
Due: none

updated dockerfiles and formatted code
  application/Dockerfile
  clustering/Dockerfile
  data_transform_pred/Dockerfile
  data_transform_pred/utils/main_utils.py
  data_transform_train/Dockerfile
  db_operation_pred/Dockerfile
  db_operation_train/Dockerfile
  infrastructure/__main__.py
  load_prod_model/Dockerfile
  model_prediction/Dockerfile
  model_training/Dockerfile
  model_training/run.py
  preprocessing_pred/Dockerfile
  preprocessing_pred/run.py
  preprocessing_train/Dockerfile
  raw_pred_data_validation/Dockerfile
  raw_train_data_validation/Dockerfile
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
Due: Build and Push Application Component, Build and Push Clustering Component, Build and Push Data Transform Pred Component, Build and Push Data Transform Train Component, Build and Push DB Operation Pred Component, Build and Push DB Operation Train Component, Build and Push Load Prod Model Component, Build and Push Model Prediction Component, Build and Push Model Training Component, Build and Push Preprocessing Pred Component, Build and Push Preprocessing Train Component, Build and Push Raw Train Data Validation Component, Update Infrastructure Component

code fix
  application/utils/pipeline_utils.py
Due: none

added jenkins setup file
  jenkins-setup.py
Due: none

code fix in jenkins setup
  jenkins-setup.py
Due: none

removed jenkins setup
  jenkins-setup.py
Due: none

updated jenkinsfile and builder.yaml
  Jenkinsfile
  builder.yaml
Due: none

update README.md
  README.md
Due: none

removed builder.yaml
  builder.yaml
Due: none

updated jenkinsfile
  Jenkinsfile
Due: none

added jenkins config to infrastructure
  infrastructure/params.yaml
Due: Update Infrastructure Component

modified the jenkins file
  Jenkinsfile
Due: none

update infrastructure state
  infrastructure/__main__.py
  infrastructure/params.yaml
Due: Update Infrastructure Component

updated infrastructure
  infrastructure/__main__.py
  infrastructure/aws/ecr_operator.py
  infrastructure/aws/s3_operator.py
  infrastructure/params.yaml
Due: Update Infrastructure Component

updated infrastructure and added more ecr repos
  infrastructure/__main__.py
  infrastructure/params.yaml
Due: Update Infrastructure Component

updated .dockerignore files for Jenkins builds
  Jenkinsfile
  clustering/.dockerignore
  data_transform_pred/.dockerignore
  data_transform_train/.dockerignore
  db_operation_pred/.dockerignore
  db_operation_train/.dockerignore
  load_prod_model/.dockerignore
  model_prediction/.dockerignore
  model_training/.dockerignore
  preprocessing_pred/.dockerignore
  preprocessing_train/.dockerignore
  raw_pred_data_validation/.dockerignore
  raw_train_data_validation/.dockerignore
Due: Build and Push Clustering Component, Build and Push Data Transform Pred Component, Build and Push Data Transform Train Component, Build and Push DB Operation Pred Component, Build and Push DB Operation Train Component, Build and Push Load Prod Model Component, Build and Push Model Prediction Component, Build and Push Model Training Component, Build and Push Preprocessing Pred Component, Build and Push Preprocessing Train Component, Build and Push Raw Train Data Validation Component

code fix
  preprocessing_pred/.dockerignore
Due: Build and Push Preprocessing Pred Component

updated application stage in Jenkinsfile
  Jenkinsfile
Due: none

formatted Jenkinsfile
  Jenkinsfile
Due: none

updated Jenkins for all services
  Jenkinsfile
Due: none

code fix in infrastructure __main__.py
  infrastructure/__main__.py
Due: Update Infrastructure Component

deleted the infrastructure module
  infrastructure/.gitignore
  infrastructure/Pulumi.dev.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/aws/ec2_operator.py
  infrastructure/aws/ecr_operator.py
  infrastructure/aws/s3_operator.py
  infrastructure/params.yaml
  infrastructure/read_params.py
  infrastructure/requirements.txt
  infrastructure/runtime.txt
  infrastructure/utils/read_params.py
Due: Update Infrastructure Component

removed update infrastructure stage in Jenkinsfile
  Jenkinsfile
Due: none

fixed errors and added stages in Jenkinsfile
  Jenkinsfile
Due: none

code fix in main.py
  application/main.py
Due: Build and Push Application Component

added terraform code
  .gitignore
  infrastructure/ec2_instance.tf
Due: Update Infrastructure Component

removed ec2 instance
  infrastructure/ec2_instance.tf
Due: Update Infrastructure Component

added jenkins instance
  infrastructure/jenkins_instance.tf
Due: Update Infrastructure Component

added mlflow instance
  infrastructure/mlflow_instance.tf
Due: Update Infrastructure Component

added terraform version in jenkins and mlflow
  infrastructure/jenkins_instance.tf
  infrastructure/mlflow_instance.tf
Due: Update Infrastructure Component

made new changes
  infrastructure/wafer_jenkins_instance.tf
  infrastructure/wafer_mlflow_instance.tf
Due: Update Infrastructure Component

restructured terraform cde to terraform modules
  infrastructure/jenkins/jenkins_instance.tf
  infrastructure/jenkins/variables.tf
  infrastructure/mlflow/mlflow_instance.tf
  infrastructure/mlflow/variables.tf
  infrastructure/module.tf
  infrastructure/wafer_jenkins_instance.tf
  infrastructure/wafer_mlflow_instance.tf
Due: Update Infrastructure Component

added aws region to variables.tf
  infrastructure/jenkins/jenkins_instance.tf
  infrastructure/jenkins/variables.tf
  infrastructure/mlflow/mlflow_instance.tf
  infrastructure/mlflow/variables.tf
Due: none

formatted mlflow_instance.tf
  infrastructure/mlflow/mlflow_instance.tf
Due: none
