Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          KFP_HOST = credentials('KFP_HOST')
          AWS_DEFAULT_REGION = "us-east-1"
        }
  ...

Build and Push Clustering Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
          script {
  ...

Build and Push Data Transformation Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
          script {
  ...

Build and Push Data Transformation Train Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
  ...

Build and Push Database Operation Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MONGODB_URL = credentials('MONGODB_URL')
        }
        steps {
  ...

Build and Push Database Operation Training Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MONGODB_URL = credentials('MONGODB_URL')
        }
        steps {
  ...

Build and Push Load Production Model Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MLFLOW_TRACKING_URI = credentials('MLFLOW_TRACKING_URI')
        }
        steps {
  ...

Build and Push Model Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          MLFLOW_TRACKING_URI = credentials('MLFLOW_TRACKING_URI')
  ...

Build and Push Model Training Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
        }
        steps {
  ...

added new details for Jenkins setup
  README.md
Due: none

updated jenkins for test
  Jenkinsfile
Due: none

performing test on Jenkins
  Jenkinsfile
Due: none

updated Jenkinsfile
  Jenkinsfile
Due: none

minor fix
  Jenkinsfile
Due: none

code fix in Jenkinsfile
  Jenkinsfile
Due: none

updated Jenkins setup readme
  README.md
Due: none

minor fix
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

added load prod model ecr repo
  infrastructure/wafer_load_prod_model_ecr/load_prod_model.tf
  infrastructure/wafer_load_prod_model_ecr/variables.tf
Due: none

added load prod model module
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

minor fix
  Jenkinsfile
  README.md
  infrastructure/wafer_load_prod_model_ecr/variables.tf
Due: none

added volume storage for jenkins
  infrastructure/wafer_jenkins_instance/jenkins.tf
  infrastructure/wafer_jenkins_instance/variables.tf
Due: none

added s3 as backend
  README.md
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

updated readme
  README.md
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

updated readme
  README.md
Due: none

updated eks cluster node size to 5
  Jenkinsfile
  infrastructure/wafer_eks_cluster/variables.tf
Due: none

updated params.yaml
  application/params.yaml
Due: Build and Push Application Service

formatted wafer jenkins instance
  infrastructure/wafer_jenkins_instance/jenkins.tf
  infrastructure/wafer_jenkins_instance/variables.tf
Due: none

added root block device parameters to ec2 instances
  infrastructure/module.tf
  infrastructure/wafer_kube_master/eks_master.tf
  infrastructure/wafer_kube_master/variables.tf
  infrastructure/wafer_mlflow_instance/mlflow.tf
  infrastructure/wafer_mlflow_instance/variables.tf
Due: Plan and Apply new infrastructure

code fix in application
  README.md
  application/components/train_components.py
  application/main.py
  application/params.yaml
  application/s3_operations.py
  application/utils/main_utils.py
  infrastructure/module.tf
Due: Build and Push Application Service, Plan and Apply new infrastructure

code fixes in application service
  application/params.yaml
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/utils/component_utils.py
  application/utils/main_utils.py
  application/utils/pipeline_utils.py
  infrastructure/module.tf
Due: Build and Push Application Service, Plan and Apply new infrastructure

minor fix in readme
  README.md
Due: none

test commit to Jenkins
  Jenkinsfile
Due: none

test commit to Jenkins
  Jenkinsfile
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/utils/pipeline_utils.py
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

test commit
  Jenkinsfile
Due: none

updated terraform stage in Jenkins
  Jenkinsfile
Due: none

updated Jenkins
  Jenkinsfile
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

updated readme
  .gitignore
  README.md
  application/components/pred_components.py
  application/components/train_components.py
  application/params.yaml
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/utils/component_utils.py
  application/utils/pipeline_utils.py
  infrastructure/module.tf
Due: Build and Push Application Service, Plan and Apply new infrastructure

updated tags in jenkinsfile
  Jenkinsfile
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

uncommented all modules in module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

made new changes to pipelines and components
  application/pipelines/prediction_pipeline.py
  application/pipelines/train_pipeline.py
  application/s3_operations.py
  application/utils/component_utils.py
  application/utils/main_utils.py
Due: Build and Push Application Service

updated Dockerfile for application service
  application/Dockerfile
Due: Build and Push Application Service

updated Dockerfile for clustering service
  clustering/Dockerfile
Due: Build and Push Clustering Service

updated Dockerfile for data transform pred
  data_transform_pred/Dockerfile
Due: Build and Push Data Transformation Prediction Service

updated Dockerfile for data transform train
  data_transform_train/Dockerfile
Due: Build and Push Data Transformation Train Service

updated Dockerfile for db operation pred
  db_operation_pred/Dockerfile
Due: Build and Push Database Operation Prediction Service

updated Dockerfile for db operation train
  db_operation_train/Dockerfile
Due: Build and Push Database Operation Training Service

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
