Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

minor fix
  data_transform_train/s3_operations.py
  data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

improvised code in db operation pred
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/params.yaml
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

minor fix
  clustering/utils/main_utils.py
Due: none

improvised code in db_operation_train
  db_operation_train/data_type_valid_train.py
  db_operation_train/params.yaml
  db_operation_train/s3_operations.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

minor fix
  db_operation_train/params.yaml
  db_operation_train/utils/logger.py
Due: Build and Push Database Operation Training Service

changed log dir
  clustering/utils/logger.py
  data_transform_pred/utils/logger.py
  data_transform_train/utils/logger.py
  db_operation_pred/utils/logger.py
  load_prod_model/utils/logger.py
  load_prod_model/utils/main_utils.py
  model_prediction/utils/logger.py
  model_prediction/utils/main_utils.py
  model_training/utils/logger.py
  model_training/utils/main_utils.py
  preprocessing_pred/utils/logger.py
  preprocessing_pred/utils/main_utils.py
  preprocessing_train/utils/logger.py
  preprocessing_train/utils/main_utils.py
  raw_pred_data_validation/utils/logger.py
  raw_pred_data_validation/utils/main_utils.py
  raw_train_data_validation/utils/logger.py
  raw_train_data_validation/utils/main_utils.py
Due: none

improvised code in load prod model
  load_prod_model/params.yaml
  load_prod_model/s3_operations.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

improvised code in model prediction
  model_prediction/params.yaml
  model_prediction/s3_operations.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

improvised code in model training
  model_training/params.yaml
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

improvised code in preprocessing pred
  preprocessing_pred/data_loader_pred.py
  preprocessing_pred/params.yaml
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

improvised code in preprocessing train
  preprocessing_train/data_loader_train.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

improvised code in raw pred data validation
  raw_pred_data_validation/params.yaml
  raw_pred_data_validation/pred_data_validation.py
  raw_pred_data_validation/run.py
  raw_pred_data_validation/s3_operations.py
  raw_pred_data_validation/utils/main_utils.py
Due: Build and Push Raw Prediction Data Validation Service

improvised code in raw train data validation
  raw_train_data_validation/params.yaml
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

minor fix
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

tested and fixed cvode in raw train data validation
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

tested and fixed code in data transform train
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
Due: Build and Push Data Transformation Train Service

tested and fixed code in db operation train
  db_operation_train/mongo_db_operations.py
  db_operation_train/utils/logger.py
Due: Build and Push Database Operation Training Service

tested and fixed code in preprocessing train
  preprocessing_train/params.yaml
  preprocessing_train/run.py
Due: Build and Push Preprocessing Train Service

tested and fixed code in clustering service
  clustering/params.yaml
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

tested and fixed code in model training
  model_training/run.py
  model_training/tuner.py
  model_training/utils/main_utils.py
  model_training/utils/model_utils.py
Due: Build and Push Model Training Service

tested and fixed code in load prod model
  load_prod_model/s3_operations.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

tested and fixed in raw pred data validation
  raw_pred_data_validation/s3_operations.py
Due: Build and Push Raw Prediction Data Validation Service

tested and fixed code in data transform pred
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
Due: Build and Push Data Transformation Prediction Service

minor fix
  preprocessing_pred/params.yaml
Due: Build and Push Preprocessing Prediction Service

minor fix
  model_training/tuner.py
Due: Build and Push Model Training Service

minor fix
  clustering/params.yaml
  clustering/run.py
Due: Build and Push Clustering Service

minor fix
  load_prod_model/mlflow_operations.py
Due: Build and Push Load Production Model Service

improvised code
  model_training/mlflow_operations.py
  model_training/s3_operations.py
Due: Build and Push Model Training Service

improvised code
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/s3_operations.py
Due: Build and Push Load Production Model Service

formatted code
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/s3_operations.py
  db_operation_pred/data_type_valid_pred.py
  db_operation_train/mongo_db_operations.py
  raw_train_data_validation/train_data_validation.py
Due: Build and Push Data Transformation Prediction Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Raw Training Data Validation Service

improvised code in model training
  model_training/mlflow_operations.py
  model_training/params.yaml
  model_training/tuner.py
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

code formatted
  model_training/tuner.py
Due: Build and Push Model Training Service

minor fix
  model_training/utils/main_utils.py
Due: none

improvised code in model prediction
  model_prediction/Dockerfile
  model_prediction/params.yaml
  model_prediction/utils/main_utils.py
  model_prediction/utils/mlflow_operations.py
Due: Build and Push Model Prediction Service

minor fix
  model_prediction/s3_operations.py
Due: Build and Push Model Prediction Service

improvised code in load prod model
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
