Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

improvised code
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

improvised code
  preprocessing_pred/data_loader_pred.py
  preprocessing_pred/preprocessing.py
  preprocessing_pred/run.py
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

improvised code
  preprocessing_train/data_loader_train.py
  preprocessing_train/preprocessing.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

improvised code
  raw_pred_data_validation/pred_data_validation.py
  raw_pred_data_validation/run.py
  raw_pred_data_validation/s3_operations.py
  raw_pred_data_validation/utils/logger.py
  raw_pred_data_validation/utils/main_utils.py
Due: Build and Push Raw Prediction Data Validation Service

improvised code
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

minor code fix
  raw_train_data_validation/s3_operations.py
Due: Build and Push Raw Training Data Validation Service

minor code fix
  data_transform_train/data_transformation_train.py
Due: Build and Push Data Transformation Train Service

minor code fix
  model_training/params.yaml
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

minor changes
  Jenkinsfile
Due: none

test commit
  Jenkinsfile
Due: none

minor code fix
  model_training/Dockerfile
Due: Build and Push Model Training Service

removed unwanted tf files
  infrastructure/wafer_tekton_components_bucket/tekton_components.tf
  infrastructure/wafer_tekton_components_bucket/variables.tf
Due: none

test completed
  Jenkinsfile
Due: none

changed exp name
  load_prod_model/params.yaml
Due: Build and Push Load Production Model Service

minor code fix
  load_prod_model/mlflow_operations.py
Due: Build and Push Load Production Model Service

formatted code
  load_prod_model/mlflow_operations.py
  raw_train_data_validation/s3_operations.py
Due: Build and Push Load Production Model Service, Build and Push Raw Training Data Validation Service

improvised code
  clustering/run.py
  clustering/utils/logger.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

improvised code
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/run.py
  data_transform_pred/utils/logger.py
  data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

improvised code
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
  data_transform_train/utils/logger.py
  data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

minor fix
  data_transform_train/run.py
Due: Build and Push Data Transformation Train Service

improvised code
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/logger.py
  db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

improvised code
  db_operation_train/data_type_valid_train.py
  db_operation_train/mongo_db_operations.py
  db_operation_train/run.py
  db_operation_train/utils/logger.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

improvised code
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/utils/logger.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

improvised code
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/logger.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

improvised code
  model_training/mlflow_operations.py
  model_training/run.py
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/logger.py
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

improvised code
  preprocessing_pred/data_loader_pred.py
  preprocessing_pred/preprocessing.py
  preprocessing_pred/run.py
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/logger.py
  preprocessing_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

minor fix
  preprocessing_pred/utils/main_utils.py
Due: none

improvised code
  preprocessing_train/preprocessing.py
  preprocessing_train/run.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/logger.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

improvised code
  raw_pred_data_validation/params.yaml
  raw_pred_data_validation/pred_data_validation.py
  raw_pred_data_validation/run.py
  raw_pred_data_validation/utils/logger.py
  raw_pred_data_validation/utils/main_utils.py
Due: Build and Push Raw Prediction Data Validation Service

improvised code
  raw_train_data_validation/run.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/logger.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

updated Jenkinsfile
  Jenkinsfile
Due: none

minor fix
  clustering/run.py
Due: Build and Push Clustering Service

minor import fix
  load_prod_model/run.py
Due: Build and Push Load Production Model Service

improvised code in clustering service
  clustering/clustering.py
  clustering/params.yaml
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

improvised code in clustering service
  clustering/params.yaml
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

minor fix
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

improvise code in data transform pred
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/params.yaml
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

improvised code in data transform train
  data_transform_train/data_transformation_train.py
  data_transform_train/params.yaml
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

minor fix
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
