Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*

restructured preprocessing train service
  preprocessing_train/run.py
  preprocessing_train/wafer_preprocess_train/__init__.py
  preprocessing_train/wafer_preprocess_train/components/data_loader_train.py
  preprocessing_train/wafer_preprocess_train/components/preprocessing.py
  preprocessing_train/wafer_preprocess_train/components/s3_operations.py
  preprocessing_train/wafer_preprocess_train/exception/__init__.py
  preprocessing_train/wafer_preprocess_train/utils/main_utils.py
  preprocessing_train/wafer_preprocess_train/utils/read_params.py
Due: Build and Push Preprocessing Train Service

removed unwanted imports
  raw_pred_data_validation/wafer_pred_val/utils/main_utils.py
Due: none

minor fixes
  raw_train_data_validation/requirements.txt
  raw_train_data_validation/wafer_raw_val/__init__.py
Due: Build and Push Raw Training Data Validation Service

restructured preprocessing train
  preprocessing_train/run.py
  preprocessing_train/wafer_preprocess_train/components/data_loader_train.py
  preprocessing_train/wafer_preprocess_train/components/preprocessing.py
  preprocessing_train/wafer_preprocess_train/components/s3_operations.py
  preprocessing_train/wafer_preprocess_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

minor fixes
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  load_prod_model/run.py
  model_prediction/wafer_model_prediction/utils/main_utils.py
  model_training/wafer_model_training/components/mlflow_operations.py
  preprocessing_pred/wafer_preprocess_pred/utils/main_utils.py
Due: Build and Push Load Production Model Service

formatted code
  db_operation_train/wafer_db_operation_train/components/data_type_valid_train.py
  model_training/wafer_model_training/components/mlflow_operations.py
  preprocessing_pred/wafer_preprocess_pred/utils/main_utils.py
  preprocessing_train/wafer_preprocess_train/utils/main_utils.py
Due: none

updated requirements.txt
  application/requirements.txt
Due: Build and Push Application Service

restructure application folder
  application/app.py
  application/params.yaml
  application/src/constant/__init__.py
  application/src/constant/application.py
  application/src/constant/pipeline.py
  application/utils/read_params.py
Due: Build and Push Application Service

restructured code
  application/app.py
  application/templates/index.html
  config/ansible_hosts.txt
  config/app/app
  config/app/app.service
  config/app/flaskapp
  data_ingestion/entity/artifact_entity.py
  data_ingestion/entity/config_entity.py
  data_validation/config/schema/wafer-schema_prediction.json
  data_validation/config/schema/wafer-schema_training.json
  data_validation/config/wafer-regex.txt
Due: Build and Push Application Service

removed application folder
  .gitignore
  application/app.py
  application/constant/__init__.py
  application/constant/application.py
  application/constant/pipeline.py
  application/requirements.txt
  requirements.txt
Due: Build and Push Application Service

added artifacts bucket terraform files
  infrastructure/module.tf
  infrastructure/truck_artifacts/artifacts.tf
  infrastructure/truck_artifacts/artifacts_policy.tf
  infrastructure/truck_artifacts/variables.tf
Due: Plan and Apply new infrastructure

updated .ignore files
  .gitignore
  data_ingestion/.dockerignore
Due: none

added data ingestion component
  data_ingestion/Dockerfile
  data_ingestion/cloud_storage/aws_operation.py
  data_ingestion/configuration/__init__.py
  data_ingestion/configuration/mongo_db_connection.py
  data_ingestion/constant/data_ingestion/__init__.py
  data_ingestion/data_access/__init__.py
  data_ingestion/data_access/truck_data.py
  data_ingestion/entity/artifact_entity.py
  data_ingestion/entity/config_entity.py
  data_ingestion/exception.py
  data_ingestion/logger.py
  data_ingestion/main.py
  data_ingestion/requirements.txt
Due: none

updated .dockerignore
  data_ingestion/.dockerignore
Due: none

made new changes to code
  data_ingestion/configuration/mongo_db_connection.py
  data_ingestion/constant/data_ingestion/__init__.py
  data_ingestion/data_access/truck_data.py
  data_ingestion/main.py
Due: none

minor changes
  data_ingestion/main.py
Due: none

made infra changes
  infrastructure/module.tf
  infrastructure/wafer_artifacts/artifacts.tf
  infrastructure/wafer_artifacts/artifacts_policy.tf
  infrastructure/wafer_artifacts/variables.tf
Due: Plan and Apply new infrastructure

minor changes
  data_ingestion/constant/__init__.py
  data_ingestion/constant/data_ingestion/__init__.py
Due: none

improvised data ingestion component
  data_ingestion/cloud_storage/aws_operation.py
  data_ingestion/configuration/mongo_db_connection.py
  data_ingestion/constant/__init__.py
  data_ingestion/entity/config_entity.py
  data_ingestion/exception.py
  data_ingestion/logger.py
  data_ingestion/main.py
Due: none

minor updates
  data_ingestion/data_access/wafer_data.py
Due: none

minor changes
  data_ingestion/configuration/mongo_db_connection.py
Due: none
