Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

test commit to Jenkins
  Jenkinsfile
Due: none

test completed
  Jenkinsfile
Due: none

made code updates
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/utils/main_utils.py
  model_training/params.yaml
Due: Build and Push Load Production Model Service, Build and Push Model Training Service

fixed code in model training
  model_training/mlflow_operations.py
  model_training/run.py
  model_training/tuner.py
  model_training/utils/main_utils.py
  model_training/utils/model_utils.py
Due: Build and Push Model Training Service

changed model from xgboost to adaboost,
  model_training/params.yaml
  model_training/tuner.py
  model_training/utils/main_utils.py
  model_training/utils/model_utils.py
Due: Build and Push Model Training Service

updated requirements.txt
  model_training/requirements.txt
Due: Build and Push Model Training Service

updated requirements.txt based on Dockerfile
  model_training/requirements.txt
Due: Build and Push Model Training Service

fixed code in model training
  model_training/Dockerfile
  model_training/params.yaml
  model_training/requirements.txt
  model_training/tuner.py
  model_training/utils/main_utils.py
  model_training/utils/model_utils.py
Due: Build and Push Model Training Service

updated requirements.txt for Dockerfile
  model_training/requirements.txt
Due: Build and Push Model Training Service

made new changes to code
  clustering/run.py
  clustering/utils/main_utils.py
  model_training/utils/main_utils.py
Due: Build and Push Clustering Service

fixed code in model training
  model_training/utils/main_utils.py
Due: none

formatted code
  model_training/utils/model_utils.py
Due: none

added python logger
  clustering/utils/logger.py
  data_transform_pred/utils/logger.py
  data_transform_train/utils/logger.py
  db_operation_pred/utils/logger.py
  db_operation_train/utils/logger.py
  load_prod_model/utils/logger.py
  model_prediction/utils/logger.py
  model_training/utils/logger.py
  preprocessing_pred/utils/logger.py
  preprocessing_train/utils/logger.py
  raw_pred_data_validation/utils/logger.py
  raw_train_data_validation/utils/logger.py
Due: none

updated application-cicd.sh
  application_cicd.sh
Due: none

updated params.yaml
  clustering/params.yaml
  data_transform_pred/params.yaml
  data_transform_train/params.yaml
  db_operation_pred/params.yaml
  db_operation_train/params.yaml
  load_prod_model/params.yaml
  model_prediction/params.yaml
  model_training/params.yaml
  preprocessing_pred/params.yaml
  preprocessing_train/params.yaml
  raw_pred_data_validation/params.yaml
  raw_train_data_validation/params.yaml
Due: Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service

Update README.md
  README.md
Due: none

made new changes to code
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
Due: Build and Push Load Production Model Service

changed bucket name of terraform s3 backend
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

minor fix in readme
  README.md
Due: none

minor fix in Jenkinsfile
  Jenkinsfile
Due: none

minor code fix
  clustering/utils/main_utils.py
Due: none

test commit
  Jenkinsfile
Due: none

changed desired node size to 3
  infrastructure/module.tf
  infrastructure/wafer_eks_cluster/variables.tf
Due: Plan and Apply new infrastructure

made new changes to code
  preprocessing_train/preprocessing.py
  preprocessing_train/run.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

improvised code in model training
  model_training/Dockerfile
  model_training/mlflow_operations.py
  model_training/params.yaml
  model_training/requirements.txt
  model_training/run.py
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

improvised code
  clustering/clustering.py
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

improvised code
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

minor code fix
  clustering/s3_operations.py
Due: Build and Push Clustering Service

minor code fix
  data_transform_pred/s3_operations.py
Due: Build and Push Data Transformation Prediction Service

formatted code
  data_transform_pred/s3_operations.py
Due: Build and Push Data Transformation Prediction Service

improvised code
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

improvised code
  data_transform_train/s3_operations.py
Due: Build and Push Data Transformation Train Service

improvised code
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

improvised code
  db_operation_train/data_type_valid_train.py
  db_operation_train/s3_operations.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

improvised code
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
