Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

updated readme
  README.md
Due: none

updated
  get_new_code.sh
Due: none

removed get_new_code.sh
  get_new_code.sh
Due: none

added application_cicd.sh
  application_cicd.sh
Due: none

updated Jenkinsfile
  Jenkinsfile
Due: none

changed webserver from fastapi to flask
  application/.dockerignore
  application/Dockerfile
  application/app.py
  application/main.py
  application/requirements.txt
Due: Build and Push Application Service

modified the application service
  README.md
  infrastructure/wafer_application_instance/application.tf
  infrastructure/wafer_application_instance/variables.tf
Due: none

code fix
  infrastructure/wafer_application_instance/variables.tf
Due: none

project finally completed
  README.md
Due: none

fixed docs and code in model training
  model_training/Dockerfile
  model_training/run.py
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/main_utils.py
  model_training/utils/model_utils.py
Due: Build and Push Model Training Service

fixed docs in clustering
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

fixed docs and code in data transform pred
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/logger.py
  data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

fixed docs and code in data transform train
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/logger.py
  data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

fixed docs and code in db operation pred
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/logger.py
  db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

fixed docs and code in db operation train
  db_operation_train/data_type_valid_train.py
  db_operation_train/mongo_db_operations.py
  db_operation_train/run.py
  db_operation_train/s3_operations.py
  db_operation_train/utils/logger.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

fixed docs and code in load prod model
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/logger.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

fixed docs and code in model prediction
  model_prediction/params.yaml
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/logger.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

fixed docs and code in model training
  model_training/mlflow_operations.py
  model_training/run.py
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/logger.py
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

fixed docs and code in preprocessing pred
  preprocessing_pred/data_loader_pred.py
  preprocessing_pred/preprocessing.py
  preprocessing_pred/run.py
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/logger.py
  preprocessing_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

fixed docs
  preprocessing_pred/run.py
Due: Build and Push Preprocessing Prediction Service

fixed docs and code in preprocessing train
  preprocessing_train/data_loader_train.py
  preprocessing_train/preprocessing.py
  preprocessing_train/run.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/logger.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

fixed docs and code in raw pred data validation
  raw_pred_data_validation/pred_data_validation.py
  raw_pred_data_validation/run.py
  raw_pred_data_validation/s3_operations.py
  raw_pred_data_validation/utils/logger.py
  raw_pred_data_validation/utils/main_utils.py
Due: Build and Push Raw Prediction Data Validation Service

fixed docs and code in raw train data validation
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/logger.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

formatted code
  preprocessing_train/run.py
  preprocessing_train/utils/logger.py
  preprocessing_train/utils/main_utils.py
  raw_pred_data_validation/utils/logger.py
  raw_train_data_validation/utils/logger.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

removed runtime.txt
  application/runtime.txt
  clustering/runtime.txt
  data_transform_pred/runtime.txt
  data_transform_train/runtime.txt
  db_operation_pred/runtime.txt
  db_operation_train/runtime.txt
  load_prod_model/runtime.txt
  model_prediction/runtime.txt
  model_training/runtime.txt
  preprocessing_pred/runtime.txt
  preprocessing_train/runtime.txt
  raw_pred_data_validation/runtime.txt
  raw_train_data_validation/runtime.txt
Due: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service

code fix in app.py
  application/app.py
Due: Build and Push Application Service

formatted variables.tf
  infrastructure/module.tf
  infrastructure/wafer_application_instance/variables.tf
Due: Plan and Apply new infrastructure

restored previous changes
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

minor fix in variables.tf
  infrastructure/wafer_application_instance/variables.tf
Due: none

test commit
  Jenkinsfile
Due: none

test commit to Jenkinsfile
  Jenkinsfile
Due: none

removed app ecr
  infrastructure/module.tf
  infrastructure/wafer_app_ecr/app_ecr.tf
  infrastructure/wafer_app_ecr/variables.tf
Due: Plan and Apply new infrastructure

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
