Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

minor changes
  clustering/clustering.py
  model_training/params.yaml
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/main_utils.py
Due: Build and Push Clustering Service, Build and Push Model Training Service

made new code changes
  raw_train_data_validation/params.yaml
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/main_utils.py
Due: Build and Push Raw Training Data Validation Service

minor code fix
  raw_train_data_validation/train_data_validation.py
Due: Build and Push Raw Training Data Validation Service

made code changes
  clustering/clustering.py
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
Due: Build and Push Clustering Service, Build and Push Data Transformation Train Service

made new changes to code
  data_transform_train/data_transformation_train.py
  data_transform_train/params.yaml
  data_transform_train/run.py
Due: Build and Push Data Transformation Train Service

minor code chnage
  preprocessing_train/preprocessing.py
Due: Build and Push Preprocessing Train Service

code updates
  model_training/params.yaml
  model_training/tuner.py
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

added new parameters
  load_prod_model/params.yaml
Due: Build and Push Load Production Model Service

changed code for logger
  load_prod_model/mlflow_operations.py
  load_prod_model/run.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/logger.py
  load_prod_model/utils/main_utils.py
  load_prod_model/utils/read_params.py
  model_training/mlflow.db
Due: Build and Push Load Production Model Service, Build and Push Model Training Service

formatted code
  data_transform_train/data_transformation_train.py
  preprocessing_train/preprocessing.py
Due: Build and Push Data Transformation Train Service, Build and Push Preprocessing Train Service

deleted mlflow.db
  model_training/mlflow.db
Due: Build and Push Model Training Service

added new parameters
  raw_pred_data_validation/params.yaml
Due: Build and Push Raw Prediction Data Validation Service

updated .dockerignore
  raw_pred_data_validation/.dockerignore
Due: Build and Push Raw Prediction Data Validation Service

changed code for logger
  raw_pred_data_validation/utils/logger.py
Due: none

changed code based on logger
  raw_pred_data_validation/pred_data_validation.py
  raw_pred_data_validation/run.py
  raw_pred_data_validation/s3_operations.py
  raw_pred_data_validation/utils/main_utils.py
  raw_pred_data_validation/utils/read_params.py
Due: Build and Push Raw Prediction Data Validation Service

reorganized modules
  infrastructure/module.tf
Due: Plan and Apply new infrastructure

minor code fix
  raw_pred_data_validation/s3_operations.py
Due: Build and Push Raw Prediction Data Validation Service

formatted code
  raw_pred_data_validation/s3_operations.py
Due: Build and Push Raw Prediction Data Validation Service

added new parameters
  data_transform_pred/params.yaml
Due: Build and Push Data Transformation Prediction Service

changed code for logger
  data_transform_pred/utils/logger.py
Due: none

changed code based on logger
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/main_utils.py
  data_transform_pred/utils/read_params.py
Due: Build and Push Data Transformation Prediction Service

minor code fix
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/s3_operations.py
Due: Build and Push Data Transformation Prediction Service

added new parameters
  db_operation_pred/params.yaml
Due: Build and Push Database Operation Prediction Service

changed code for logger
  db_operation_pred/utils/logger.py
Due: none

changed code based on logger
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/main_utils.py
  db_operation_pred/utils/read_params.py
Due: Build and Push Database Operation Prediction Service

tested and fixed code in db operation pred
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

added new parameters
  preprocessing_pred/params.yaml
Due: Build and Push Preprocessing Prediction Service

changed code for logger
  preprocessing_pred/utils/logger.py
Due: none

changed code based on logger
  preprocessing_pred/data_loader_pred.py
  preprocessing_pred/preprocessing.py
  preprocessing_pred/run.py
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/main_utils.py
  preprocessing_pred/utils/read_params.py
Due: Build and Push Preprocessing Prediction Service

minor code fix
  preprocessing_pred/data_loader_pred.py
Due: Build and Push Preprocessing Prediction Service

minor code fix
  preprocessing_train/data_loader_train.py
Due: Build and Push Preprocessing Train Service

minor change in parameters
  preprocessing_pred/params.yaml
Due: Build and Push Preprocessing Prediction Service

tested and fixed code
  preprocessing_pred/preprocessing.py
  preprocessing_pred/s3_operations.py
  preprocessing_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

minor code changes
  preprocessing_pred/run.py
  preprocessing_pred/utils/main_utils.py
Due: Build and Push Preprocessing Prediction Service

added new parameters
  model_prediction/params.yaml
Due: Build and Push Model Prediction Service

changed code for logger
  model_prediction/utils/logger.py
Due: none

changed code based on logger
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/main_utils.py
  model_prediction/utils/read_params.py
Due: Build and Push Model Prediction Service

tested and fixed code
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

formatted code
  model_prediction/utils/main_utils.py
Due: none

added practical demo videos in readme
  README.md
Due: none

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
