Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Application Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_application"
  ...

Build and Push Clustering Service:
          environment {
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_DEFAULT_REGION = "us-east-1"
            REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Data Transformation Train Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Database Operation Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Load Production Model Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Training Service:
          environment {
            AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
            AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
            AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
            AWS_DEFAULT_REGION = "us-east-1"
  ...

fix
  model_prediction/s3_operations.py
Due: Build and Push Model Prediction Service

fixed code
  model_prediction/s3_operations.py
  model_prediction/utils/main_utils.py
  model_prediction/utils/mlflow_operations.py
Due: Build and Push Model Prediction Service

fix
  model_prediction/params.yaml
Due: Build and Push Model Prediction Service

code fix
  load_prod_model/mlflow_operations.py
  load_prod_model/params.yaml
  load_prod_model/run.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

formatted code
  load_prod_model/run.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

improved logger
  clustering/utils/logger.py
Due: none

improved logger
  data_transform_pred/utils/logger.py
Due: none

improvised logger
  data_transform_train/utils/logger.py
  db_operation_pred/utils/logger.py
  db_operation_train/utils/logger.py
  load_prod_model/utils/logger.py
  model_prediction/utils/logger.py
  model_training/utils/logger.py
  preprocessing_pred/utils/logger.py
  preprocessing_train/utils/logger.py
  raw_pred_data_validation/utils/logger.py
  raw_train_data_validation/utils/logger.py
Due: none

updated dockerignore
  raw_train_data_validation/.dockerignore
Due: Build and Push Raw Training Data Validation Service

added new paramters for logger
  raw_train_data_validation/params.yaml
Due: Build and Push Raw Training Data Validation Service

changed code logger based on params.yaml
  raw_train_data_validation/utils/logger.py
Due: none

made changes to code based on logger
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/main_utils.py
  raw_train_data_validation/utils/read_params.py
Due: Build and Push Raw Training Data Validation Service

fixed params.yaml
  raw_train_data_validation/params.yaml
Due: Build and Push Raw Training Data Validation Service

fixed logger code
  raw_train_data_validation/utils/logger.py
Due: none

fixed code based on logger code and params.yaml
  raw_train_data_validation/run.py
  raw_train_data_validation/s3_operations.py
  raw_train_data_validation/train_data_validation.py
  raw_train_data_validation/utils/main_utils.py
  raw_train_data_validation/utils/read_params.py
Due: Build and Push Raw Training Data Validation Service

added new parameters to params.yaml
  data_transform_train/params.yaml
Due: Build and Push Data Transformation Train Service

added new logger code
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/logger.py
  data_transform_train/utils/main_utils.py
  data_transform_train/utils/read_params.py
Due: Build and Push Data Transformation Train Service

tested and fixed code in data transformation.py
  data_transform_train/data_transformation_train.py
  data_transform_train/s3_operations.py
Due: Build and Push Data Transformation Train Service

added log parameters to db operation train
  db_operation_train/params.yaml
Due: Build and Push Database Operation Training Service

changed code for logger
  db_operation_train/utils/logger.py
Due: none

made new changes to code based on logger and params
  db_operation_train/data_type_valid_train.py
  db_operation_train/mongo_db_operations.py
  db_operation_train/run.py
  db_operation_train/s3_operations.py
  db_operation_train/utils/main_utils.py
  db_operation_train/utils/read_params.py
Due: Build and Push Database Operation Training Service

tested and fixed code in db operation train
  db_operation_train/data_type_valid_train.py
  db_operation_train/s3_operations.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

tested and made new changes to code
  db_operation_train/mongo_db_operations.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

formatted code
  db_operation_train/mongo_db_operations.py
Due: Build and Push Database Operation Training Service

changed logger code
  preprocessing_train/utils/logger.py
Due: none

added log parameters
  preprocessing_train/params.yaml
Due: Build and Push Preprocessing Train Service

made code changes based on logger and parameters
  preprocessing_train/data_loader_train.py
  preprocessing_train/preprocessing.py
  preprocessing_train/run.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/main_utils.py
  preprocessing_train/utils/read_params.py
Due: Build and Push Preprocessing Train Service

tested and fixed code in preprocessing train
  preprocessing_train/data_loader_train.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

changed code for logger
  clustering/utils/logger.py
Due: none

add new parameters
  clustering/params.yaml
Due: Build and Push Clustering Service

made code changes based on logger and parameters
  clustering/clustering.py
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/main_utils.py
  clustering/utils/read_params.py
Due: Build and Push Clustering Service

tested and fixed code in clustering
  clustering/run.py
  clustering/s3_operations.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

added extra parameters
  model_training/params.yaml
Due: Build and Push Model Training Service

added new code for logger
  model_training/utils/logger.py
Due: none

made code changes based on logger and parameters
  model_training/mlflow_operations.py
  model_training/run.py
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/main_utils.py
  model_training/utils/read_params.py
Due: Build and Push Model Training Service

minor changes in code
  clustering/s3_operations.py
Due: Build and Push Clustering Service

fixed code in clustering
  clustering/s3_operations.py
  clustering/utils/main_utils.py
  model_training/mlflow_operations.py
  model_training/params.yaml
  model_training/s3_operations.py
  model_training/tuner.py
  model_training/utils/main_utils.py
Due: Build and Push Clustering Service, Build and Push Model Training Service

minor code change
  preprocessing_train/utils/main_utils.py
Due: none

minor code change
  clustering/utils/main_utils.py
Due: none

minor fix
  data_transform_train/params.yaml
Due: Build and Push Data Transformation Train Service

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
