Repository sethusaim/wafer-fault-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Application Service, Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Path conditions:
  Build and Push Application Service: any of: application/*
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*

update Jenkinsfile
  Jenkinsfile
Due: none

fixed test jenkins
  Jenkinsfile
Due: none

fixed Jenkinsfile
  Jenkinsfile
Due: none

completed test
  Jenkinsfile
Due: none

updated readme
  README.md
Due: none

test commit
  Jenkinsfile
Due: none

updated log dirs
  model_training/params.yaml
  preprocessing_pred/params.yaml
  preprocessing_train/params.yaml
  raw_pred_data_validation/params.yaml
  raw_train_data_validation/params.yaml
Due: Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service

test completed
  Jenkinsfile
Due: none

minor code fix in app.py
  application/app.py
Due: Build and Push Application Service

updated bash script
  application_cicd.sh
Due: none

minor update in readme
  README.md
Due: none

changed database config form M10 to M20 cluster
  infrastructure/wafer_database/variables.tf
Due: none

changed desired node size from 3 to 4
  infrastructure/wafer_eks_cluster/variables.tf
Due: none

minor fix in params.yaml
  preprocessing_train/params.yaml
Due: Build and Push Preprocessing Train Service

updated model training dockerfile
  model_training/Dockerfile
Due: Build and Push Model Training Service

minor fix in params.yaml
  model_training/params.yaml
Due: Build and Push Model Training Service

minor fix
  model_training/utils/main_utils.py
Due: none

updated dockerfile
  model_training/Dockerfile
Due: Build and Push Model Training Service

updated dockefile
  model_training/Dockerfile
Due: Build and Push Model Training Service

made new changes
  model_training/params.yaml
  model_training/utils/main_utils.py
Due: Build and Push Model Training Service

updated dockerfile
  load_prod_model/Dockerfile
Due: Build and Push Load Production Model Service

updated params.yaml
  load_prod_model/params.yaml
Due: Build and Push Load Production Model Service

updated Jenkinsfile
  Jenkinsfile
Due: none

restored jenkinsfile
  Jenkinsfile
Due: none

fixed jenkinsfile
  Jenkinsfile
Due: none
